@use '../abstracts';

.auth {
    display: flex;
    min-height: 100vh;

    @supports (-webkit-touch-callout: none) {
        min-height: -webkit-fill-available;
    }

    &__intro,
    &__content {
        padding: 0 30px;
        flex: 1;
    }

    &__intro {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 49px;
        background-color: var(--auth-intro-bg);

        &-logo,
        &-next {
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        &-logo {
            top: 80px;
        }

        &-next {
            bottom: 50px;
        }

        &-img {
            max-width: 100%;
        }

        &-text {
            max-width: 421px;
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.screen(md) {
                font-size: 1.5rem;
            }
        }
    }

    &__content {
        background-color: var(--auth-content-bg);

        @include abstracts.screen(md) {
            position: fixed;
            inset: 0;
            z-index: 1;
            transition: translate 0.3s;
            overflow-y: auto;

            &.hide {
                translate: 100%;
            }
        }
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            padding: 50px 0;
            height: 100%;
            width: min(460px, 100%);
            margin: 0 auto;

            @include abstracts.screen(md) {
                padding-top: 80px;
            }
        }
    }

    &__heading {
        margin-top: 50px;
        font-size: 3rem;
        font-weight: 500;
        line-height: 146.667%;

        @include abstracts.screen(md) {
            font-size: 2.2rem;
        }
    }

    &__desc {
        color: #9e9da8;
        margin-top: 10px;
        padding: 0 30px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 142.857%;

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }
    &__form {
        margin-top: 60px;
        width: 100%;
        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__link {
        color: var(--auth-link-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__btn-group {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 50px;
        @include abstracts.screen(md) {
            margin-bottom: 0;
        }
    }

    &__btn {
        height: 50px;
        gap: 10px;
    }

    &__text {
        margin-top: 108px;
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 144.444%;

        &-link {
            margin-left: 5px;
            font-size: inherit;
        }

        @include abstracts.screen(md) {
            margin-top: 56px;
            font-size: 1.6rem;
        }
    }
}
