@use '../abstracts';

html.dark {
    --body-bg: #292e39;
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(51deg) brightness(103%)
        contrast(101%);
    --header-bg-color: #171c28;
    --footer-text-color: #7f7e82;
    --top-act-group-bg-color: #292e39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.2);
    --top-act-group-separate: #ededf6;

    @include abstracts.screen(lg) {
        --header-box-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header action dropdown
    --header-act-dropdown-bg: #292e39;
    --header-act-dropdown-shadow: rgba(23, 28, 40, 0.4);

    // Dropdown
    --dropdown-text-color: #b9babe;
    --dropdown-bg-color: #2f3540;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(11%) saturate(1045%) hue-rotate(180deg)
        brightness(94%) contrast(88%);
    --top-menu-border-color: #171c28;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(83%) sepia(92%) saturate(185%) hue-rotate(200deg)
        brightness(108%) contrast(96%);

    // Sidebar
    --sidebar-bg: #292e39;
    --sidebar-shadow: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg: #171c28;
    --cate-item-thumb-bg: #292e39;
    --cate-item-title-color: #fff;

    //Buttons
    --filter-btn-bg: #171c28;
    --filter-btn-color: #fff;
    --filter-btn-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(181deg)
        brightness(119%) contrast(108%);

    --like-btn-bg: #292e39;
    --like-btn-shadow: rgba(124, 124, 124, 0.2);

    // Product card
    --product-card-bg: #171c28;
    --product-card-shadow: rgba(0, 0, 0, 0.2);

    // Filter
    --filter-form-bg: #292e39;
    --filter-form-shadow: rgba(0, 0, 0, 0.4);
    --form-tag-bg: #171c28;
    --filter-form-arrow: brightness(0) saturate(100%) invert(15%) sepia(6%) saturate(1927%) hue-rotate(184deg)
        brightness(94%) contrast(90%);

    // Auth
    --auth-intro-bg: #171c28;
    --auth-content-bg: #292e39;
    --auth-intro-text-color: #b9babe;

    // Forms
    --form-placeholder-color: #b9babe;

    // Search bar
    --search-bar-bg: #171c28;

    // Product-detail
    --product-detail-bg: #292e39;
    --product-info-content-bg: #292e39;
    --product-detail-info-bg: #171c28;
    --product-info-tag-bg: #292e39;

    // Breadcrumbs
    --breadcrumbs-bg: #171c28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.2);

    @include abstracts.screen(md) {
        --product-info-content-bg: #171c28;
    }

    // Review card
    --review-card-bg: #171c28;

    // Text content
    --text-content-hr-bg: #474a51;
}
