@use '../abstracts';

.favourite-item {
    display: flex;
    align-items: center;
    gap: 20px;

    &__separate {
        margin: 20px 0;
        height: 1px;
        background-color: var(--favourite-item-border);
    }

    &__thumb {
        width: 110px;
        @include abstracts.screen(lg) {
            width: 80px;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__content {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include abstracts.screen(sm) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__price {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        @include abstracts.screen(md) {
            font-size: 1.8rem;
        }
    }

    &__btn {
        @include abstracts.screen(md) {
            font-size: 1.5rem;
            height: 40px;
        }
    }
}
