@use '../abstracts';
.message {
    padding: 14px;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 500;
    &--success {
        margin-top: 20px;
        border: 1.5px solid #a8d9ba;
        background-color: rgb(145 235 178 / 80%);
    }
}
